BeautifulSoup4
c2m2-assessment @ git+https://github.com/nih-cfde/c2m2-assessment@v0.1.1
cfde-c2m2 @ git+https://github.com/MaayanLab/cfde-c2m2@v0.1.0
frictionless
h5py
numpy
psycopg2-binary
python-dotenv
requests
SQLAlchemy==1.4.36
pandas==2.1.4
tqdm
pyyaml