.git
**/__pycache__/
**/.DS_Store
**/.env
current/
kub/
**/node_modules/
output/
outreach_files/
package-lock.json
partnership_files/
playground*
publication_files/
tool_files/
usecase_files/
venv
**/.venv/
**/.next/
drc-portals/public/**
database/C2M2/ingest/**
database/ingest/**