# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://drc:drcpass@localhost:5432/drc?schema=public"

# database configuration
POSTGRES_DB=drc
POSTGRES_USER=drc
POSTGRES_PASSWORD=drcpass

# configure for authentication support
NEXTAUTH_URL=http://localhost:3000/auth
# create with `openssl rand -base64 32`
#NEXTAUTH_SECRET=
#NEXTAUTH_EMAIL={"server":"smtps://user:pass@smtp-server:465","from":"user@example.com"}
#NEXTAUTH_GITHUB={"clientId":"","clientSecret":""}
#NEXTAUTH_GOOGLE={"clientId":"","clientSecret":""}
#NEXTAUTH_ORCID={"clientId":"","clientSecret":""}
