version: '3.9'
services:
  drc-portal-app:
    build: .
    platform: linux/amd64
    image: maayanlab/drc-portal:0.2.49
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@drc-portal-postgres34:5434/${POSTGRES_DB}?schema=public
      - NEXTAUTH_URL
      - NEXTAUTH_SECRET
      - NEXTAUTH_EMAIL
      - NEXTAUTH_GITHUB
      - NEXTAUTH_GOOGLE
      - NEXTAUTH_ORCID
      - NEXTAUTH_GLOBUS
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_ENDPOINT
      - S3_BUCKET
      - S3_REGION
      - OPENAI_API_KEY
      - ELASTICSEARCH_URL=${PROD_ELASTICSEARCH_URL:-http://elastic:${ELASTICSEARCH_PASSWORD}@drc-portal-elasticsearch_MRM:9200}

  drc-portal-data-proxy:
    image: maayanlab/proxy:1.2.9
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://data.cfde.cloud
        nginx.ingress.kubernetes.io/auth-realm: Authentication Required - drc
        nginx.ingress.kubernetes.io/auth-secret: auth
        nginx.ingress.kubernetes.io/auth-type: basic
    ports:
      - 80
    environment:
      nginx_server_name: data.cfde.cloud
      nginx_proxy_00: / http://drc-portal-app:3000/data
      nginx_proxy_01: /(.+) http://drc-portal-app:3000/$$1
      nginx_redirect_00: /data/? https://data.cfde.cloud
      nginx_redirect_01: /info/? https://info.cfde.cloud
      nginx_redirect_02: /info/(.+) https://info.cfde.cloud/info/$$1
      nginx_redirect_03: /auth/? https://cfde.cloud/auth
      nginx_redirect_04: /auth/(.+) https://cfde.cloud/auth/$$1

  drc-portal-info-proxy:
    image: maayanlab/proxy:1.2.9
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://info.cfde.cloud
        nginx.ingress.kubernetes.io/auth-realm: Authentication Required - drc
        nginx.ingress.kubernetes.io/auth-secret: auth
        nginx.ingress.kubernetes.io/auth-type: basic
    ports:
      - 80
    environment:
      nginx_server_name: info.cfde.cloud
      nginx_proxy_00: / http://drc-portal-app:3000/info
      nginx_proxy_01: /(.+) http://drc-portal-app:3000/$$1
      nginx_redirect_00: /data/? https://data.cfde.cloud
      nginx_redirect_01: /data/(.+) https://data.cfde.cloud/data/$$1
      nginx_redirect_02: /info/? https://info.cfde.cloud
      nginx_redirect_03: /auth/? https://cfde.cloud/auth
      nginx_redirect_04: /auth/(.+) https://cfde.cloud/auth/$$1

  drc-portal-proxy:
    image: maayanlab/proxy:1.2.9
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://cfde.cloud
        nginx.ingress.kubernetes.io/enable-cors: 'true'
        nginx.ingress.kubernetes.io/cors-allow-headers: 'DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,next-router-state-tree,next-router-prefetch,next-url,rsc'
        nginx.ingress.kubernetes.io/cors-allow-origin: https://data.cfde.cloud, https://info.cfde.cloud, https://cfde.cloud
    ports:
      - 80
    environment:
      nginx_server_name: cfde.cloud
      nginx_proxy_00: /(.*) http://drc-portal-app:3000/$$1
      nginx_redirect_00: / https://info.cfde.cloud
      nginx_redirect_01: /data/? https://data.cfde.cloud
      nginx_redirect_02: /data/(.+) https://data.cfde.cloud/data/$$1
      nginx_redirect_03: /info/? https://info.cfde.cloud
      nginx_redirect_04: /info/(.+) https://info.cfde.cloud/info/$$1

  drc-portal-cfde-info-redirect:
    image: maayanlab/proxy:1.2.9
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://cfde.info
    ports:
      - 80
    environment:
      nginx_server_name: cfde.info
      nginx_redirect_00: /(.*) https://info.cfde.cloud/$$1

# Command to run this service in a container, e.g.,
# docker-compose -f docker-compose_MRM_5434.yaml up -d drc-portal-postgres34
  drc-portal-postgres34:
    image: postgres:16
    shm_size: 1024m
    container_name: drc-portal-postgres_MRM_5434
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - 5434:5434
    volumes:
      - drc-portal-postgres34:/var/lib/postgresql/data
    command: -p 5434
#    extraVolumes:
#      - name: drc-portal-postgres34-dshm
#        emptyDir:
#          medium: Memory
#          sizeLimit: 1024Mi
#    extraVolumeMounts:
#      - name: drc-portal-postgres34-dshm
#        mountPath: /dev/shm

  drc-portal-postgres34-2:
    image: postgres:16
    shm_size: 1024m
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - 5434:5434
    volumes:
      - drc-portal-postgres34-2:/var/lib/postgresql/data
    command: -p 5434
#    extraVolumes:
#      - name: drc-portal-postgres34-dshm
#        emptyDir:
#          medium: Memory
#          sizeLimit: 1024Mi
#    extraVolumeMounts:
#      - name: drc-portal-postgres34-dshm
#        mountPath: /dev/shm

  drc-portal-elasticsearch_MRM:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    container_name: drc-portal-elasticsearch_MRM
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    # comment ulimits block for rootless docker
    #ulimits:
      #memlock:
        #soft: -1
        #hard: -1
    deploy:
      resources:
        reservations:
          cpus: '2.0'
          memory: 6144M
        limits:
          memory: 12288M
    environment:
      - cluster.name=elastic
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - discovery.type=single-node
      - cluster.routing.allocation.disk.threshold_enabled=false
      #- bootstrap.memory_lock=true
      # For rootless docker
      - bootstrap.memory_lock=false
      # To deal with http/https issue (only for dev environment): added: - xpack.security.enabled=true & - http.ssl.enabled=false
      #- xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms3g -Xmx3g
    # Delete or comment the user line in production
    #user: "${MY_UID_in_elasticsearch}:${MY_GID_in_elasticsearch}"
    ports:
      - 9200:9200
    volumes:
      # For volume to be at the non-standard location, specify direct bind mount
      - drc-portal-elasticsearch:/usr/share/elasticsearch/data
      #- /mnt/share/${USER}/docker/appdata:/usr/share/elasticsearch/data

volumes:
  drc-portal-postgres34:
    x-kubernetes:
      size: 120Gi
      class: gp2

  drc-portal-postgres34-2:
    x-kubernetes:
      size: 120Gi
      class: gp2

  drc-portal-elasticsearch:
    x-kubernetes:
      size: 150Gi
      class: gp2
    # For volume to be at the non-standard location, specify driver and driver_opts
    # For the standard location, comment the driver and driver_opts block
    #driver: local    
    #driver_opts:
    #  type: none
    #  o: bind
    #  device: /mnt/share/${USER}/docker/appdata

x-kubernetes:
  name: drc-portal
  namespace: drc

