services:
  drc-portal-app:
    build: .
    platform: linux/amd64
    image: maayanlab/drc-portal:0.24.0
    deploy:
      replicas: 3
      resources:
        reservations:
          cpus: '2.0'
          memory: 6144M
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=${PROD_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - C2M2_DATABASE_URL=${PROD_C2M2_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=c2m2&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - PDP_DATABASE_URL=${PROD_PDP_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - PUBLIC_URL=https://cfde.cloud
      - NEXTAUTH_URL=https://cfde.cloud/auth
      - NEXTAUTH_SECRET
      - NEXTAUTH_EMAIL
      # - NEXTAUTH_GITHUB
      # - NEXTAUTH_GOOGLE
      # - NEXTAUTH_ORCID
      # - NEXTAUTH_GLOBUS
      - NEXTAUTH_KEYCLOAK
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_ENDPOINT
      - S3_BUCKET
      - S3_REGION
      - OPENAI_API_KEY
      - NEXT_PUBLIC_GA_MEASUREMENT_ID
      - ASSISTANT_ID
      - NEO4J_URL
      - GRAPH_C2M2_DBNAME
      - GRAPH_C2M2_READER_USERNAME
      - GRAPH_C2M2_READER_PASSWORD
      - NEXT_PUBLIC_GSE
      - NEXT_PUBLIC_ENRICHR_URL
      - TURL_CRED
      - GSC_DATABASE_URL=${PROD_GSC_DATABASE_URL}
      - MCP_API_KEY
      - ELASTICSEARCH_URL=${PROD_ELASTICSEARCH_URL:-http://elastic:${ELASTICSEARCH_PASSWORD}@drc-portal-elasticsearch:9200}
  drc-portal-app-dev:
    build: .
    platform: linux/amd64
    image: maayanlab/drc-portal-dev:0.23.20-rc.2
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://dev.cfde.cloud
        nginx.ingress.kubernetes.io/configuration-snippet: |
          more_set_headers "X-Robots-Tag: noindex";
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=${DEV_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${SECONDARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - C2M2_DATABASE_URL=${DEV_C2M2_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${SECONDARY_DATABASE}:5432/${POSTGRES_DB}?schema=c2m2&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - PDP_DATABASE_URL=${DEV_PDP_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${SECONDARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - PUBLIC_URL=https://dev.cfde.cloud
      - NEXTAUTH_URL=https://dev.cfde.cloud/auth
      - NEXTAUTH_SECRET
      - NEXTAUTH_EMAIL
      # - NEXTAUTH_GITHUB
      # - NEXTAUTH_GOOGLE
      # - NEXTAUTH_GLOBUS
      - NEXTAUTH_KEYCLOAK
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_ENDPOINT
      - S3_BUCKET
      - S3_REGION
      - OPENAI_API_KEY
      - NEXT_PUBLIC_GA_MEASUREMENT_ID
      - ASSISTANT_ID
      - NEO4J_URL
      - GRAPH_C2M2_DBNAME
      - GRAPH_C2M2_READER_USERNAME
      - GRAPH_C2M2_READER_PASSWORD
      - NEXT_PUBLIC_GSE
      - NEXT_PUBLIC_ENRICHR_URL
      - TURL_CRED
      - ELASTICSEARCH_URL=${DEV_ELASTICSEARCH_URL:-http://elastic:${ELASTICSEARCH_PASSWORD}@drc-portal-elasticsearch:9200}
  drc-portal-worker:
    build:
      context: ..
      dockerfile: worker/Dockerfile
    platform: linux/amd64
    image: maayanlab/drc-portal-worker:0.20.0
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    environment:
      - DATABASE_URL=${PROD_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - C2M2_DATABASE_URL=${PROD_C2M2_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=c2m2&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - PDP_DATABASE_URL=${PROD_PDP_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}

  drc-portal-data-proxy:
    image: maayanlab/proxy:1.2.13
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://data.cfde.cloud
    ports:
      - 80
    environment:
      nginx_server_name: data.cfde.cloud
      nginx_proxy_00: /(.*) http://drc-portal-proxy/$$1
      nginx_buffering: 0

  drc-portal-info-proxy:
    image: maayanlab/proxy:1.2.13
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://info.cfde.cloud
    ports:
      - 80
    environment:
      nginx_server_name: info.cfde.cloud
      nginx_proxy_00: /(.*) http://drc-portal-proxy/$$1
      nginx_redirect_00: /documentation(/.*)? https://data.cfde.cloud/documentation$$1
      nginx_buffering: 0

  drc-portal-proxy:
    image: maayanlab/proxy:1.2.13
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://cfde.cloud
        nginx.ingress.kubernetes.io/enable-cors: 'true'
        nginx.ingress.kubernetes.io/cors-allow-headers: 'DNT,Keep-Alive,User-Agent,Accept,X-CSRF-Token,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,next-router-state-tree,next-router-prefetch,next-url,rsc,'
        nginx.ingress.kubernetes.io/cors-allow-origin: https://data.cfde.cloud, https://info.cfde.cloud, https://cfde.cloud
        # nginx.ingress.kubernetes.io/proxy-buffer-size: '16k'
        nginx.ingress.kubernetes.io/proxy-buffering: "off"
    ports:
      - 80:80
    environment:
      nginx_server_name: cfde.cloud
      nginx_proxy_00: /(.*) http://drc-portal-app:3000/$$1
      nginx_redirect_00: /info(/.*)? https://info.cfde.cloud$$1
      nginx_redirect_01: /data(/.*)? https://data.cfde.cloud$$1
      nginx_buffering: 0

  drc-portal-cfde-info-redirect:
    image: maayanlab/proxy:1.2.13
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://cfde.info
    ports:
      - 80
    environment:
      nginx_server_name: cfde.info
      nginx_redirect_00: /(.*) https://info.cfde.cloud/$$1

  drc-portal-postgres:
    image: postgres:16
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    deploy:
      resources:
        reservations:
          cpus: '2.0'
          memory: 512M
    shm_size: 1Gb
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - 5433:5432
    volumes:
      - drc-portal-postgres:/var/lib/postgresql/data

  drc-portal-postgres-2:
    image: postgres:16
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    shm_size: 1Gb
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - 5432:5432
    volumes:
      - drc-portal-postgres-2:/var/lib/postgresql/data

  drc-portal-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      resources:
        reservations:
          cpus: '2.0'
          memory: 3072M
        limits:
          memory: 6144M
    environment:
      - cluster.name=elastic
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - discovery.type=single-node
      - cluster.routing.allocation.disk.threshold_enabled=false
      - bootstrap.memory_lock=true
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms3g -Xmx3g
    ports:
      - 9200:9200
    volumes:
      - drc-portal-elasticsearch:/usr/share/elasticsearch/data

  drc-portal-backup:
    build: ../database/backup
    platform: linux/amd64
    image: maayanlab/drc-portal-postgres-backup:0.2.0
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      restartPolicy: Never
      cron: '0 0 * * *'
    deploy:
      replicas: 0
    environment:
      - POSTGRES_HOST=${PRIMARY_DATABASE}
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - S3_POSTGRES_BACKUP_AWS_ACCESS_KEY_ID
      - S3_POSTGRES_BACKUP_AWS_SECRET_ACCESS_KEY
      - S3_POSTGRES_BACKUP_AWS_DEFAULT_REGION
      - S3_POSTGRES_BACKUP_PREFIX

  drc-portal-twitter:
    build: ../twitter
    platform: linux/amd64
    image: maayanlab/drc-portal-twitter:0.1.2
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      restartPolicy: Never
      cron: '0 * * * *'
    environment:
      - DATABASE_URL=${PROD_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public}
      - TWITTER_TWEETS_FROM
      - TWITTER_USERNAME
      - TWITTER_EMAIL
      - TWITTER_PASSWORD

  drc-auth:
    build: ../auth
    platform: linux/amd64
    image: maayanlab/drc-auth:0.2.9
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      restartPolicy: Always
      annotations:
        maayanlab.cloud/ingress: https://auth.cfde.cloud
    ports:
      - 8080:8080
    environment:
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://${PRIMARY_DATABASE}:5432/${POSTGRES_DB}
      - KC_DB_SCHEMA=keycloak
      - KC_DB_USERNAME=${POSTGRES_USER}
      - KC_DB_PASSWORD=${POSTGRES_PASSWORD}
      - KEYCLOAK_ADMIN
      - KEYCLOAK_ADMIN_PASSWORD
    # useful for testing the theme
    # command: bin/kc.sh start --spi-theme-static-max-age=-1 --spi-theme-cache-themes=false --spi-theme-cache-templates=false
    # volumes:
    #   - ../auth/themes/drc-portal:/opt/keycloak/themes/drc-portal/

  # drc-portal-ingest:
  #   build: ../database
  #   image: maayanlab/drc-portal-ingest:0.9.0
  #   deploy:
  #     replicas: 0

  drc-portal-mcp:
    build: ../cfde-mcp
    platform: linux/amd64
    image: maayanlab/drc-portal-mcp:0.1.21
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://mcp.cfde.cloud
    environment:
      - API_KEY=${MCP_API_KEY}
      - DATABASE_URL=${PROD_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public}
    ports:
      - 5000:5000
    

volumes:
  drc-portal-postgres:
    x-kubernetes:
      size: 100Gi
      class: gp2

  drc-portal-postgres-2:
    x-kubernetes:
      size: 100Gi
      class: gp2

  drc-portal-elasticsearch:
    x-kubernetes:
      size: 100Gi
      class: gp2

x-kubernetes:
  name: drc-portal
  namespace: drc