services:
  drc-portal-ingest:
    build: ../database
    platform: linux/amd64
    image: maayanlab/drc-portal-es-ingest:0.22.0
    command: /bin/sh -c 'sleep infinity'
    pull_policy: missing
    environment:
      - DATABASE_URL=${DEV_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - ELASTICSEARCH_URL=${DEV_ELASTICSEARCH_URL:-http://elastic:${ELASTICSEARCH_PASSWORD}@drc-portal-elasticsearch:9200}
    volumes:
      - drc-portal-ingest:/work/ingest
  drc-portal-app:
    build: .
    platform: linux/amd64
    image: maayanlab/drc-portal-es:0.22.12
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://cfde.k8s.dev.maayanlab.cloud
        nginx.ingress.kubernetes.io/configuration-snippet: |
          more_set_headers "X-Robots-Tag: noindex";
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=${DEV_DATABASE_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PRIMARY_DATABASE}:5432/${POSTGRES_DB}?schema=public&pool_timeout=0&connection_limit=10&connect_timeout=30}
      - PUBLIC_URL=https://cfde.k8s.dev.maayanlab.cloud
      - NEXT_PUBLIC_URL=https://cfde.k8s.dev.maayanlab.cloud
      - NEXTAUTH_SECRET
      - NEXT_PUBLIC_GA_MEASUREMENT_ID
      - ELASTICSEARCH_URL=${DEV_ELASTICSEARCH_URL:-http://elastic:${ELASTICSEARCH_PASSWORD}@drc-portal-elasticsearch:9200}
  drc-portal-postgres:
    image: postgres:16
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    deploy:
      resources:
        reservations:
          cpus: '2.0'
          memory: 512M
    shm_size: 1Gb
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - 5432:5432
    volumes:
      - drc-portal-postgres:/var/lib/postgresql/data
  drc-portal-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    x-kubernetes:
      imagePullPolicy: IfNotPresent
    ulimits:
      memlock:
        soft: -1
        hard: -1
    environment:
      - cluster.name=elastic
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - discovery.type=single-node
      - cluster.routing.allocation.disk.threshold_enabled=false
      - bootstrap.memory_lock=true
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - indices.id_field_data.enabled=true
      - ES_JAVA_OPTS=-Xms16g -Xmx16g
    ports:
      - 9200:9200
      - 9300:9300
    volumes:
      - drc-portal-elasticsearch:/usr/share/elasticsearch/data

volumes:
  drc-portal-postgres:
    x-kubernetes:
      size: 25Gi
      class: local-path

  drc-portal-elasticsearch:
    x-kubernetes:
      size: 100Gi
      class: local-path

  drc-portal-ingest:
    x-kubernetes:
      size: 50Gi
      class: local-path

x-kubernetes:
  name: drc-portal-es
  namespace: u8sand
  context: u8sand@sshkube
