data
ingest
__pycache__
fair
.cached
fairshake.ipynb
/outreach_files/
/usecase_files/
/publication_files/
/tool_files/
/partnership_files/
/center_files/
/current/
sanitize_tables_for_keywords.sql
log
