
body {
  background: linear-gradient(180deg, #FFFFFF 0%, #DBE0ED 100%);
  height: 100vh;
}

.pf-c-tab-content > .pf-c-toolbar {
  background-color: transparent;
}
.pf-c-tab-content > .pf-c-table {
  background-color: transparent;
}
.pf-c-pagination.pf-m-bottom.pf-m-compact {
  background-color: transparent;
}
.pf-c-button.pf-m-plain {
  color: black;
}

.pf-c-dropdown__toggle.pf-m-plain:not(.pf-m-text) {
  color: black;
}
.pf-c-dropdown__toggle-icon {
  color: black;
}
.pf-c-card {
  background-color: transparent;
}
.keycloak__realm_selector_dropdown__toggle {
  background-color: transparent;
  color: black;
}
.pf-c-page__header {
  background-color: transparent;
  color: black;
}
.pf-c-page, .pf-c-page__main-breadcrumb, .pf-c-page__main-section.pf-m-light {
  background-color: transparent;
}

.pf-c-page__sidebar {
  background: white;
}
.pf-c-nav__link.pf-m-current, .pf-c-nav__link.pf-m-current:hover, .pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link {
  background: white;
  color: black;
}

.pf-c-nav__section-title, .pf-c-nav__link {
  color: black;
}

.pf-c-data-list__item {
  background: transparent;
}

.login-pf {
}

div.kc-logo-text {
  background-image: url(../img/cfde-workbench.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  resize: both;
  max-width: 50em;
  margin: 0 auto;
}

div.kc-logo-text span {
  display: none;
}

.pf-v5-c-login {
  max-width: 50em;
  margin: 0 auto;
  align-items: unset;
  min-height: unset;
}

.pf-v5-c-login__container {
  display: block;
}

#kc-header-wrapper {
  padding-top: 0.5em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-size: 40px;
  color:#336699;
  font-weight: 500;
  font-family: 'sans-serif','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color emoji';
  text-transform: uppercase;
}

#kc-header-wrapper > div {
  color: transparent;
  border-radius: 50%;
  box-shadow: 0px 1px 3px 1px rgba(15, 31, 46, 0.15);
  background: white;
  width: 56px;
  height: 56px;
}
#kc-header-wrapper > div > img {
  width: 52px;
  height: 52px;
}

#social-orcid {
  background-image: url(https://orcid.org/assets/vectors/orcid.logo.icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#social-orcid > span {
  visibility: hidden;
}

#social-globus {
  background-image: url(https://www.globus.org/assets/images/logo_globus-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#social-globus > span {
  visibility: hidden;
}
